
fabolous {
	background-color: #000;
	color: white;
}


title {
	font-size: 40px;
	text-align: center !important;
	display: block;
	margin-top: 15px;
}


url {
	display: grid;
	margin: 15px;
}


loc {
	font-size: 31px;
}

lastmod {
	font-style: italic;
}

homepages {
	margin: 15px;
	font-size: 21px;
}
