  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      font-family: "Poppins", sans-serif;
  }

  :root {
    --fav-color: #48036e;
  }

  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }
  
  a {
      text-decoration: none;
  }
  ul {
      list-style-type: none;
  }
  body {
      cursor: none;
      background: #000;
      overflow-x: hidden;
  }

  .hero-text {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #000;
  }
  .hero-text h1 {
      height: 100% !important;
      font-size: 7.5vw;
      line-height: 1.6 !important;
      font-weight: 700;
      background-color: #f4d03f;
      background-image: linear-gradient(132deg, #f4d03f 0%, #16a085 100%);
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      color: transparent;
  }
  .hero-text h2{
      font-size: 5vw;
      color: #fff;
      display: inline-flex;
  }

  .cursor{
      position: fixed;
      width: 8px;
      height: 8px;
      margin-left: -20px;
      margin-top: -20px;
      border-radius: 50%;
      background: #ffd803;
      transition: transform .3s ease;
      -webkit-transition: transform .3s ease;
      -moz-transition: transform .3s ease;
      -ms-transition: transform .3s ease;
      transform-origin: center center;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      pointer-events: none;
      z-index: 1000;
  }

  .grow, .grow-small{
      transform: scale(20);
      background: #fff;
      mix-blend-mode: difference;
      border: none;
      border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
      -webkit-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
      -moz-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
      -ms-border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
      overflow: hidden;
      animation: morph 3s linear infinite;
      -webkit-animation: morph 3s linear infinite;
      -moz-animation: morph 3s linear infinite;
      -ms-animation: morph 3s linear infinite;
  }

  .grow-small{
      transform: scale(10);
      -webkit-transform: scale(10);
      -moz-transform: scale(10);
      -ms-transform: scale(10);
  }   

  @keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -ms-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -ms-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -ms-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

  @-webkit-keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -ms-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -ms-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -ms-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

  @-moz-keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -ms-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -ms-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -ms-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

  @-ms-keyframes morph{
    0%, 100% {
    border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -webkit-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -moz-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    -ms-border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -webkit-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -moz-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
      -ms-border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -webkit-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -moz-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
      -ms-border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }

  /* Navbar */

  nav,
  .navbar-toggle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  nav {
    position: fixed;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    color: white;
  }

  .nav-hide { display: none; }

  nav ul {
    display: table-cell;
    vertical-align: middle;
    padding-left: 0 !important;
  }

  nav ul li { list-style: none; margin: 25px auto; }

  nav ul li a {
  /*  margin: 15px auto !important;*/
    font-size: 35pt;
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    text-transform: lowercase;
  }

  nav ul li a:hover {
    color: #000;
  }

  .navbar-toggle {
    position: fixed;
    top: 45px;
    right: 20px;
    width: 45px;
    height: 45px;
    z-index: 20;
    cursor: pointer;
    display: block;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 100%;
    height: 8px;
    margin-bottom: 5px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  .navbar-on .bar1,
  .navbar-on .bar2,
  .navbar-on .bar3 { background-color:black; }

  .navbar-on .bar1 {
    transform-origin: 10% 40%;
    -webkit-transform-origin: 10% 40%;
    -moz-transform-origin: 10% 40%;
    -ms-transform-origin: 10% 40%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .navbar-on .bar3 {
    transform-origin: 10% 40%;
    -webkit-transform-origin: 10% 40%;
    -moz-transform-origin: 10% 40%;
    -ms-transform-origin: 10% 40%;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }

  .navbar-on .bar2 { background-color: transparent;
  }

  /* About Us */
  .about-us-section {
    min-height: 60vh;
    color: white;
    margin-bottom: 100px;
  }

  .texts-title {
    font-size: 61px;
    text-transform: lowercase;
    color: white;
  }

  .about-us-description {
    font-size: 40px;
    line-height: 1.6;
  }

  /* Our Team */
  .our-team-members {
    height: ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  .team-member-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .team-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .team-container .box {
    position: relative;
    width: 30rem;
    height: 30rem;
    margin: 4rem !important;
  /*  flex: 1 1 5000px;*/
  }

  .team-container .box:hover .imgBox {
    transform: translate(-3.5rem, -3.5rem);
    -webkit-transform: translate(-3.5rem, -3.5rem);
    -moz-transform: translate(-3.5rem, -3.5rem);
    -ms-transform: translate(-3.5rem, -3.5rem);
  }

  .team-container .box:hover .content {
    transform: translate(3.5rem, 3.5rem);
    -webkit-transform: translate(3.5rem, 3.5rem);
    -moz-transform: translate(3.5rem, 3.5rem);
    -ms-transform: translate(3.5rem, 3.5rem);
  }

  .imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
  }

  .imgBox img {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    resize: both;
    max-width: 100%;
    max-height: 100%;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.2rem 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
    z-index: 1;
    align-items: flex-end;
    text-align: center;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
  }

  .content h2 {
    left: 55px !important;
    display: block;
    font-size: 2rem;
    color: #111;
    font-weight: 500;
    line-height: 2rem;
    letter-spacing: 1px;
    position: relative;
  }

  .content span {
    left: 55px !important;
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .content i {
    position: relative;
    display: inline;
    left: -100px;
    right: auto;
    bottom: -30px;
    font-size: 31px;
    color: black;
    text-align: center;
  }

  /* Our Services */
  .card-column {
    width: 50%;
    float: left;
    padding: 4%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
  }

  .column-1 {
    padding-top: 100px;
  }

  .card {
    width: 92%;
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background: #EB5160;
    color: #fff;
    cursor: pointer;
    margin-bottom: 60px;
  }

  .border {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 6px;
    border: 1px solid #fff;
    opacity: 0.5;
    left: -6px;
    top: -6px;
  }

  .card h3 {
    position: relative;
    padding: 190px 0px 100px 10px;
    width: 90%;
    text-transform: lowercase;
  }

  .card > img {
    width: 90%;
    position: absolute;
    top: -6%;
    left: -6%;
  }

  .card-color-0 {
    background-color: var(--fav-color);
  }

  .card-color-1 {
    background-color: #16a085;
  }

  .card-color-2 {
    background-color: #8DAA91;
  }

  .card-color-3 {
    background-color: #888DA7;
  }

  /* The cover (expanding background) */
  .cover {
    position: fixed;
    background: #f4d03f;
    z-index: 100;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
  }

  /* The open page content */
  .open-content {
    width: 100%;
    height: auto !important;
    max-height: 100%;
    z-index: 110;
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .open-content img {
    position: relative;
    width: 60%;
    height: auto;
    margin-left: 3%;
    margin-top: 20px;
    z-index: 5;
  }

  .open-content .text {
    background: #fff;
    margin-top: -56%;
    padding: 60% 5% 5% 5%;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 5%;
  }

  .open-content .text h3, .open-content .text p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .close-content {
    display: block;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 30px;
    height: 30px;
  }

  .close-content span {
    background: #222;
    width: 30px;
    height: 6px;
    display: block;
    position: absolute;
    top: 14px;
  }

  .x-1 {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }

  .x-2 {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
  }

  /* 
  ** Transitions
  */

  .card {
    transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
    -webkit-transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
    -moz-transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
    -ms-transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
  }

  .border {
    transition: opacity 200ms linear, transform 200ms ease-out;
    -webkit-transition: opacity 200ms linear, transform 200ms ease-out;
    -moz-transition: opacity 200ms linear, transform 200ms ease-out;
    -ms-transition: opacity 200ms linear, transform 200ms ease-out;
  }

  .card img {
    transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
    -webkit-transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
    -moz-transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
    -ms-transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
  }

  .card h3 {
    transform: translate3d(20%, 0px, 0px);  
    -webkit-transform: translate3d(20%, 0px, 0px);  
    -moz-transform: translate3d(20%, 0px, 0px);  
    -ms-transform: translate3d(20%, 0px, 0px);  
    transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
    -webkit-transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
    -moz-transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
    -ms-transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
  }

  /* Clicked card */
  .card.clicked img {
    transform: translate3d(0px, -40px, 0px);
    -webkit-transform: translate3d(0px, -40px, 0px);
    -moz-transform: translate3d(0px, -40px, 0px);
    -ms-transform: translate3d(0px, -40px, 0px);
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
  }

  .card.clicked .border {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
  }

  .card.out, .card.out img {
    transform: translate3d(0px, -40px, 0px);
    -webkit-transform: translate3d(0px, -40px, 0px);
    -moz-transform: translate3d(0px, -40px, 0px);
    -ms-transform: translate3d(0px, -40px, 0px);
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
  }

  .card.out h3, .card.clicked h3 {
    transform: translate3d(20%, -40px, 0px);
    -webkit-transform: translate3d(20%, -40px, 0px);
    -moz-transform: translate3d(20%, -40px, 0px);
    -ms-transform: translate3d(20%, -40px, 0px);
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
  }

  .cover {
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
  }

  .open-content {
    transition: opacity 200ms linear 0ms;
    -webkit-transition: opacity 200ms linear 0ms;
    -moz-transition: opacity 200ms linear 0ms;
    -ms-transition: opacity 200ms linear 0ms;
  }

  .open-content.open {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    pointer-events: all;
    transition-delay: 1000ms;
    -webkit-transition-delay: 1000ms;
    -moz-transition-delay: 1000ms;
    -ms-transition-delay: 1000ms;
  }

  /* Our Clients */
  .our-clients-text {
    color: white;
    font-size: 18px;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    margin-top: 100px !important;
    font-style: italic;
  }



  /* Contact Us */

  .img-container {
    width: 100%;
    height: 80vh;
    background-image: url('https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
/*    justify-content: center;*/
    font-size: 3rem;
    font-weight: bold;
    margin-top: 0 !important;
    object-fit: cover;
  }

  .contact-us-information {
    text-align: left;
    color: white;
    text-transform: lowercase;
    width: auto !important;
    max-width: 100%;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }

  .contact-us-information a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
  }

  .social-media-connect {
    margin-top: -150px !important; top: -150px !important;
  }

  .copyright-sections {
    font-size: 14px;
    color: white;
    text-transform: lowercase;
    font-weight: 300;
    padding: 15px auto !important;
    height: 50px;
    vertical-align: middle;
    align-items: center;
    display: grid;
  }

  .copyright-sections a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    text-transform: lowercase;
    font-weight: 300;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
  }

  .copyright-sections i {
    font-size: 16px;
    vertical-align: middle;
    line-height: 1.6;
    color: red;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    animation: heart-animation 2s linear infinite;
    -webkit-animation: heart-animation 2s linear infinite;
    -moz-animation: heart-animation 2s linear infinite;
    -ms-animation: heart-animation 2s linear infinite;
  }

  @keyframes heart-animation {
    0% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }

    50% {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
    }

    100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }
  }

  @-webkit-keyframes heart-animation {
    0% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }

    50% {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
    }

    100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }
  }

  @-moz-keyframes heart-animation {
    0% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }

    50% {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
    }

    100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }
  }

  @-ms-keyframes heart-animation {
    0% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }

    50% {
      transform: scale(1.3);
      -webkit-transform: scale(1.3);
      -moz-transform: scale(1.3);
      -ms-transform: scale(1.3);
    }

    100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      -moz-transform: scale(1.0);
      -ms-transform: scale(1.0);
    }
  }

  /* Sitemap */
  .sitemap {
    font-size: 14px !important;
    color: white;
    text-transform: lowercase;
    font-weight: 400;
  }

  @media only screen and (min-width: 770px) and (max-width: 850px) {
    .hero-text h1 {
      font-size: 11vw;
      line-height: 127% !important;
    }

    .hero-text h2 {
      font-size: 6vw;
    }
  }

  @media only screen and (max-width: 769px) {
    .hero-text h1 {
      font-size: 11vw;
    }
  }

  @media only screen and (max-width: 700px) {
    .email-and-number a {
      font-size: 28px !important;
    }
  }

  @media (max-width: 600px) {
    .team-container .box:hover .content {
      transform: translate(0, 3.5rem);
      -webkit-transform: translate(0, 3.5rem);
      -moz-transform: translate(0, 3.5rem);
      -ms-transform: translate(0, 3.5rem);
    }
    .team-container .box:hover .imgBox {
      transform: translate(0, -3.5rem);
      -webkit-transform: translate(0, -3.5rem);
      -moz-transform: translate(0, -3.5rem);
      -ms-transform: translate(0, -3.5rem);
    }

    .team-container .box {
      margin: 50px auto !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
    }

    .imgBox img {
      width: 100%;
      height: 100%;
    }
  }

  @media only screen and (max-width: 535px) {
    .email-and-number a {
      font-size: 24px !important;
    }
  }

  @media only screen and (max-width: 460px) {
    .email-and-number a {
      font-size: 21px !important;
    }
  }

  @media only screen and (max-width: 400px) {
    .team-container .box {
      margin: 50px auto !important;
    }
  }

  @media screen and (max-width: 600px) {
    .card-column {
      width: 90%;
    }
    
    .column-1 {
      padding-top: 0px;
    }
    
    .open-content img {
      margin-top: 40px;
    }
  }

  @media only screen and (max-width: 575px) {
    .about-us-description {
      font-size: 30px;
    }
  }

  @media only screen and (max-width: 525px) {
    .team-container {
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      margin: 150px auto !important;
      display: block;
    }

    .team-container .box {
      margin: 150px auto !important;
    }

    /*.team-container .box .content {
      flex: 1 1 300px;
    }*/
  }

  @media only screen and (max-width: 440px) {
    .email-and-number a {
      font-size: 21px !important;
    }
  }

  @media only screen and (min-width: 415px) and (max-width: 530px) {
    .hero-text h1 {
      font-size: 19vw;
      line-height: 127% !important;
    }

    .hero-text h2 {
      font-size: 8vw;
      margin-bottom: 25px !important;
    }
  }

  @media only screen and (max-width: 414px) {
    .hero-text h1 {
      font-size: 19vw !important;
      line-height: 127% !important;
    }

    .hero-text h2 {
      font-size: 9vw !important;
      margin-bottom: 25px !important;
    }

    .about-us-description {
      font-size: 24px !important;
    }

    .social-media-connect {
      font-size: 21px !important;
    }
  }

  @media only screen and (max-width: 410px) {
    .team-container {
      transform: scale(0.7);
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -mstransform: scale(0.7);
    }

    .copyright-sections {
      font-size: 14px !important;
    }

    .email-and-number a {
      font-size: 18px !important;
    }

    .social-media-connect {
      font-size: 18px !important;
    }
  }

  @media only screen and (max-width: 365px) {
    .team-container {
      transform: scale(0.6);
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -ms-transform: scale(0.6);
    }
  }

  @media only screen and (max-width: 345px) {
    .email-and-number a {
      font-size: 16px !important;
    }
  }
